* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: start;
}

.main_cards {
  display: flex;
  align-items: center;
  gap: 20px;
}
