* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: rgb(128, 76, 76);
}

h2 {
  text-align: center;
  color: white;
}

.main_box {
  width: 500px;
  min-height: 300px;
  padding: 0 20px;
  margin: 30px auto;
  border: 1px solid whitesmoke;
  &_item:nth-child(4) {
    border: none;
  }
  &_item {
    width: 100%;
    border-bottom: 1px solid white;
    margin: 10px 0;
    padding: 10px 0;
    cursor: pointer;
    &_header {
      display: flex;
      justify-content: space-between;
      margin: 10px 0;
      &_title {
        font-size: 24px;
        color: white;
      }
      &_btn {
        background-color: transparent;
      }
      &_btn i {
        border: none;
        padding: 10px;
        color: white;
        transform: rotate(0deg);
        transition: all 0.5s ease;
      }
    }
    &_content {
      color: rgb(185, 167, 167);
      overflow: hidden;
      transition: max-height 0.5s ease;
      max-height: 0;
    }
  }
}

.active .main_box_item_content {
  transition: all 0.5 ease;
  animation-name: identifier;
  animation-duration: 1.5s;
  max-height: 300px;
}

.active i {
  transform: rotate(180deg);
  transition: all 1s ease;
}

@keyframes identifier {
  from{max-height: 0;}
  to{max-height: 300px;}
}

